.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: aliceblue;
}
input[type="text"],
input[type="password"]{
    height: 20px;
    border: 1px solid rgba(0,0,0,0.2);
}